@model Model.Entities.Client
@{
    ViewBag.Title = "AddPolicyToClient";
    Layout = "~/Views/Shared/LayoutView.cshtml";
}

<h2>Adding a policy to client: @Model.full_name with ID: @Model.identification </h2>

