<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/assets/bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap4/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap4/css/style.css" rel="stylesheet" />
    <script src="~/assets/jquery/jquery.min.js"></script>

</head>


<body>
    <div class="container">
        <h1 class="jumbotron"> ejemplo MVC con Layout</h1>

        @RenderBody()
    </div>


    <script src="~/assets/bootstrap4/js/bootstrap.min.js"></script>
    <script src="~/assets/bootstrap4/js/jquery.validate.min.js"></script>
    <script src="~/assets/bootstrap4/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/bootstrap4/js/ini.js"></script>
    <script src="~/assets/bootstrap4/js/jquery.form.js"></script>
</body>
</html>